{% extends "SunshineUIBundle::layout.html.twig" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            组织管理
            <small>组织机构的最大单位，类似集团、总公司的概念</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 组织架构管理</a></li>
            <li class="active">组织管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        hello world

    </section>
    <!-- /.content -->
{% endblock %}