{% extends "@SunshineOrganization/title/title.html.twig" %}

{% block main_content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_org_title_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
