{% extends "SunshineUIBundle::layout.html.twig" %}

{% block content %}
    {% block content_header %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                单位管理
                <small>公司、事业部公司等独立结算、运营的组织单位。</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 组织架构管理</a></li>
                <li class="active">单位管理</li>
            </ol>
        </section>
    {% endblock %}

    {% block content_box %}
        {{ parent() }}
    {% endblock %}

{% endblock %}