.btn .glyphicon {
    margin-right: 4px;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.bottom-button-center {
    text-align: center;
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

#collapseTwo .col-md-6 {
    padding: 1px 2px;
}

.panel-body div {
    margin-bottom: 2px;
}

.panel-body .col-md-12 {
    padding: 0;
}

.draggable {
    z-index: 99999;
}

#form-canvas {
    background: -webkit-linear-gradient(left, #3c8dbc 20px, transparent 1%) center, -webkit-linear-gradient(#3c8dbc 20px, transparent 1%) center, #9192fb;
    background: linear-gradient(90deg, #3c8dbc 20px, transparent 1%) center, linear-gradient(#3c8dbc 20px, transparent 1%) center, #9192fb;
    background-size: 22px 22px;
    width: 100%;
    z-index: 1;
    min-height: 40px;
    opacity: 0.9;
}

#form-canvas div {
    min-height: 40px;
    outline: 1px dashed rgba(170,170,170,0.7);
    padding-top: 3px;
}

#form-canvas.ui-state-hover {
    background-color: yellow;
}

textarea.form-control {
    height: 100px;
}

.form-inline  .form-control {
    width:80%;
}